body{
	background-color: #e6e6e6;
}
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  }
  .content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
  }
  #myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
  }
  #myBtn:hover {
	background: #ddd;
	color: black;
  }
.logoc img {
    width: 6%;
    margin-left: 47.1%;
    margin-top: 0;
}
.carros {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}
.carros img{

  width: 100%;
}
.fontegrossa{
  font-weight: bolder;
}

.carros li {
	display: inline-block;
	text-align: center;
	width: 24%;
	vertical-align: top;
	margin-left: 9px;
	padding: 40px 20px;
	box-sizing: border-box;
	border: 1px solid #000000;
	border-radius: 1.5%;
	background-color: white;
}

.carros li:hover {
	border-color: #C78C19;
}

.carros li:active {
	border-color: #088C19;	
}

.carros li:hover h2 {
	font-size: 34px;
}

.carros h2 {
	font-size: 35.6px;
	font-weight: bold;
}

.carros-descricao {
	font-size: 18px;
}

.carros-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}